#all
  #content
    .container
      #error-page.col-sm-6.col-sm-offset-3
        .box
          %p.text-center
            =link_to root_path do
              =image_tag 'pwp_logo.png',
                alt: 'PetsWantPats logo', class: 'hidden-xs hidden-sm'
          %h3 Il codice di conferma è errato!
          %h4.text-muted Hai seguito il link dall'email?
          %p.text-center
            Con che indirizzo hai effettuato la registrazione?

          %br

          = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
            .row
              .form-group
                = f.input :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
            %button.btn.btn-primary{:type => "submit"}
              %i.fa.fa-envelope
              Rimanda email di conferma

          %p.buttons
            =link_to root_path, class: 'btn btn-primary' do
              %i.fa.fa-home
              Torna all'Homepage
