.mixture
  .row
    .col-sm-4
      .form-group
        = f.input :input_name, label: 'Nome', fake: true, class: 'form-control', required: true, error: 'Deve avere un nome'

    .col-sm-4
      .form-group
        = f.input :percentage, label: 'Percentuale', class: 'form-control', required: true, error: 'Deve avere una percentuale'

    .col-sm-4
      .form-group
        = link_to_remove_association "Rimuovi", f, class: 'remove btn btn-danger',  wrapper_class: 'mixture'
