#all
  #content.clearfix
    .container
      .col-md-12
        %ul.breadcrumb
          %li= link_to 'Home', root_url
          %li Registrazione da Facebook
        .box.text-center
          .row
            .col-sm-10.col-sm-offset-1
              %h1 Il tuo account
              %p.lead
                Puoi rivedere e cambiare i tuoi dati personali qui prima di registrarti, oltre a
                selezionare uno username che ti aggrada.
      #customer-account.col-md-8.col-md-offset-2.clearfix
        = form_for(@user, url: user_registration_path) do |f|
          = f.hidden_field :uid
          = f.hidden_field :provider
          = render partial: 'users/common', locals: {user: @user, form: f}
          .row
            %p
              Questa password é stata generata dal sistema, cambiala se vuoi con una di tuo gradimento,
              ti servirà per accedere al sistema nel caso #{@user.provider.capitalize} non fosse disponibile.
            %p
              %strong
                Per accedere al sistema in futuro potrai tranquillamente usare il pulsante di login di Facebook
                esattamente come hai fatto per arrivare fino a qui.
            .col-sm-6
              .form-group
                = f.label :password, 'Nuova password'
                = f.text_field :password, required: true, autocomplete: "off", class: 'form-control'
            .col-sm-6
              .form-group
                = f.label :password_confirmation, 'Conferma nuova password'
                = f.text_field :password_confirmation, value: @user.password, required: true, autocomplete: "off", class: 'form-control'
          .text-center
            %button.btn.btn-primary{:type => "submit"}
              %i.fa.fa-save
              Registrati
