#adopt.modal.fade{role: 'dialog', tabindex: '-1'}
  .modal-dialog{:role => "document"}
    #ask-access-content.modal-content
      .modal-header
        %a.close{'data-dismiss': 'modal'} x
        %h3 Vuoi adottare?

      #adopt-body.modal-body
        %p
          Ricordati di includere:
          %ol
            %li Il tuo nome reale
            %li Il tuo numero di telefono
            %li La tua posizione geografica
          questi dati
          %strong non verranno registrati da PetsWantPats
          ma saranno ad uso esclusivo della struttura che ospita l'animale a cui sei interessato

        = form_for :adopt, url: facility_pet_adopt_path(facility_id: pet.facility.slug, pet_id: pet.slug) do |f|
          .row
            .col-sm-6
              .form-group
                = f.label :body, 'Messaggio'
                = f.text_area :body, rows: 10, required: true, class: 'form-control message'

          .modal-footer
            %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'}
              Cancella
            = f.submit 'Manda messaggio', class: 'button btn btn-primary'
