= render partial: 'shared/errors', locals: {object: form.object}
= form.hidden_field :facility_id, value: @facility.id
.row
  .col-sm-6
    .form-group
      = form.input :name, label: 'Nome', class: 'form-control', error: 'Deve avere un nome'
  .col-sm-6
    .form-group
      = form.input :birth, as: :date, label: 'Nascita', start_year: Date.today.year - 18,
        end_year: Date.today.year, discard_day: true, class: 'form-control', error: 'Indicare la data di nascita'
.row
  .col-sm-3
    .form-group
      = form.input :gender, label: I18n.translate('gender').capitalize, collection: [true, false].collect { |n| [I18n.translate(:genders)[n].capitalize, n] }, required: true, error: 'Indicare il sesso'
  .col-sm-3
    .form-group
      = form.input :color, label: I18n.translate('color').capitalize, collection: (0..26).collect { |n| [I18n.translate(:colors)[n].capitalize, n] }, required: true, error: 'Indicare il colore del manto'
  .col-sm-3
    .form-group
      = form.input :weight, label: I18n.translate('weight').capitalize, as: :float, input_html: {step: 0.5}, required: true
  = form.simple_fields_for :animal do |dog|
    .col-sm-3
      .form-group
        = dog.input :size_at_maturity, label: I18n.translate('dog.size_at_maturity').capitalize, collection: (0..2).collect { |n| [I18n.translate(:size_at_maturity)[n].capitalize, n] }, required: true, error: 'Indicare la taglia'
.row
  = form.simple_fields_for :animal do |dog|
    .col-sm-3
      .form-group
        = dog.input :spayed, label: I18n.translate('dog.spayed').capitalize, as: :boolean, required: true
    .col-sm-3
      .form-group
        = dog.input :dewormed, label: I18n.translate('dog.dewormed').capitalize, as: :boolean, required: true
    .col-sm-3
      .form-group
        = dog.input :microchipped, label: I18n.translate('dog.microchipped').capitalize, as: :boolean, required: true
    .col-sm-3
      .form-group
        = dog.input :vaccinated, label: I18n.translate('dog.vaccinated').capitalize, as: :boolean, required: true
%hr

.row
  .col-sm-12
    %p
      Se l'animale presenta particolari difficoltà di gestione in seguito a disabilità o un carattere particolarmente difficile contrassegnare questa opzione,
      %strong ricordandosi di specificare nella descrizione le problematiche dell'animale.
    .form-group
      = form.input :heart, label: 'Adozione del cuore', as: :boolean, required: true
.row
  .col-sm-8
    .form-group
      = form.label :description, 'Descrizione'
      = form.text_area :description, id: 'summernote', class: 'summernote form-control', 'data-provider': 'summernote'
  .col-sm-4
    .form-group
      = form.simple_fields_for :animal do |dog|
        = dog.input :fur_length, label: I18n.translate('dog.fur_length').capitalize, collection: (0..2).collect { |n| [I18n.translate(:fur_length)[n].capitalize, n] }, required: false

%hr

%p Puoi creare una galleria del tuo animale.
%p Cerca di inserire fotografie di buona qualità per invogliare eventuali adottanti.
#pet_pictures
  = form.simple_fields_for :pet_pictures do |pet_picture|
    = render partial: 'pet_pictures/pet_picture_fields', locals: {f: pet_picture}
  .links
    = link_to_add_association form, :pet_pictures, partial: 'pet_pictures/pet_picture_fields', 'data-association-insertion-method': :before, class: 'btn btn-default', id: 'add_pet_image' do
      %i.fa.fa-file-image-o
      Aggiungi immagine

%hr

%p Puoi aggiungere una razza reale e presunta al tuo animale.
%p Se stai per esempio inserendo la scheda di un cane che è un incrocio tra un maremmano ed un labrador puoi indicare questa caratteristica aggiungendo due razze: 50% maremmano e 50% labrador.
#mixtures
  = form.fields_for :animal do |dog|
    = dog.fields_for :mixtures do |mixture|
      = render partial: 'mixtures/mixture_fields', locals: {f: mixture}
    .links
      = link_to_add_association dog, :mixtures, partial: 'mixtures/mixture_fields', 'data-association-insertion-method': :before, class: 'btn btn-default' do
        %i.fa.fa-plus
        Aggiungi una razza

%hr
