%h3
  =link_to '#', class: 'dropdown dropdown-toggle', 'data-toggle': 'dropdown' do
    %i.fa.fa-pencil-square-o
    = pet.name
    .caret

  %ul.dropdown-menu.pull-right
    %li
      = link_to I18n.translate('dog.show').capitalize, facility_pet_path(facility_id: pet.facility.slug, id: pet.slug)
    %li
      = link_to I18n.translate('dog.adopted').capitalize, '#'
    %li
      = link_to I18n.translate('dog.manage').capitalize, edit_facility_pet_path(facility_id: pet.facility.slug, id: pet.slug), class: 'edit_pet'
    %li
      = link_to I18n.translate('dog.remove').capitalize, '#'
