.col-md-3.col-sm-4
  .product
    .image
      =link_to facility_pet_path(facility_id: pet.facility.slug, id: pet.slug) do
        =image_tag pet.main_picture.photo_file.listing.url
    - if current_user && current_user.has_role?(:owner, pet.facility)
      = render partial: 'pets/manage', locals: {pet: pet}
    - else
      %h3= link_to pet.name, facility_pet_path(facility_id: pet.facility.slug, id: pet.slug)
