#all
  #content
    .container
      .col-md-12
        %ul.breadcrumb
          %li
            = link_to 'Home', root_url
          %li
            = link_to @facility.name, facility_path(@facility.slug)
          %li
            = link_to @pet.name, facility_pet_path(facility_id: @facility.slug, id: @pet.slug)
          %li Gestisci
      .col-md-12
        .box
          %h1= @facility.name
          %p.lead Aggiorna i dati
          %p Modifica nel form sottostante le informazioni dell'animale in adozione.
          %hr/
          = simple_form_for(@pet,
            url: facility_pet_path(facility_id: @facility.slug, id: @pet.slug),
            html: {multipart: true}) do |form|
            = render partial: 'form', locals: {form: form}
            .text-center
              %button.btn.btn-primary{:type => "submit"}
                %i.fa.fa-user
                Aggiorna
