#all
  #content
    #claim
      #bg-video
        %video{autoplay: true, autobuffer: true, loop: true, mute: true, controls: false, id: 'video'}
          %source{src: 'https://s3.eu-central-1.amazonaws.com/petswantpats/hp.mp4', type: 'video/mp4'}
          %source{src: 'https://s3.eu-central-1.amazonaws.com/petswantpats/hp.webm', type: 'video/webm'}
          %source{src: 'https://s3.eu-central-1.amazonaws.com/petswantpats/hp.ogv', type: 'video/ogg'}
          = image_tag 'hp.png'
      #hp_search
        .col-md-12
          %h3.hidden-xs.hidden-sm Vuoi trovare un tesoro?
          %h2.hidden-xs.hidden-sm Cerca un amico!
          = form_tag pets_search_path, method: :get, class: 'navbar-form', role: 'search' do
            .input-group
              = text_field_tag :q, nil, label: nil, required: true, placeholder: 'Cerca (per nome, razza, regione, colore)', class: 'form-control input-lg'
              %span.input-group-btn
                %button.btn-lg.btn-primary{ type: 'submit' }
                  %i.fa.fa-search
                  %span.hidden-xs.hidden-sm Ricerca
          %p Motore di ricerca per animali da compagnia ospitati nei canili e rifugi italiani.
          %p.hidden-xs.hidden-sm
            - if !user_signed_in?
              =link_to 'Vuoi inserire i tuoi animali su PetsWantPats per farli adottare?', new_user_registration_path
            - else
              =link_to 'Vuoi inserire i tuoi animali su PetsWantPats per farli adottare?', edit_user_path(current_user.slug)
