#all
  #content
    .container
      .col-md-12
        %ul.breadcrumb
          %li
            = link_to 'Home', root_url
          %li
            = link_to @facility.name, facility_path(@facility.slug)
          %li Aggiungi animale
      .col-md-12
        .box
          %h1= @facility.name
          %p.lead Aggiungi un animale
          %p Inserisci nel form sottostante le informazioni dell'animale in adozione.
          %hr/
          = simple_form_for(@pet, url: facility_pets_path, html: {multipart: true}) do |form|
            = render partial: 'form', locals: {form: form}

            .text-center
              %button.btn.btn-primary{:type => "submit"}
                %i.fa.fa-user
                Aggiungi

