#all
  #content
    .container
      .col-md-12
        %ul.breadcrumb
          %li
            = link_to 'Home', root_url
          %li Ricerca
        .row
          .box.text-center
            .row
              .col-sm-10.col-sm-offset-1
                %h1 Ricerca
                %p.text-muted
                  = "Hai cercato #{params['q']}"
      .box.info-bar.full-width.no-border
        .row
          .col-sm-12.col-md-4.products-showing
            Mostrando
            %strong= @response.results.count
            di
            %strong= @response.total_count
            risultati
          .col-sm-12.col-md-8.products-number-sort
            .row
              %form.form-inline
                .col-md-offset-6.col-sm-offset-6
                  .products-sort-by
                    %strong Ordina per
                    %select#order-by.form-control{name: 'sort-by'}
                      %option{name: 'birth'} Età
                      %option{name: 'weight'} Peso
      .row.products
        = render partial: 'pets', locals: {pets: @response}