= render partial: 'headers/pet_show'
#all
  #content
    .container
      .col-md-12      
        %ul.breadcrumb
          %li
            = link_to 'Home', root_url
          %li
            = link_to @dog.pet_facility.name, facility_path(@dog.pet_facility.slug)
          %li
            = @dog.pet_name
        .box.text-center
          .row
            .col-sm-10.col-sm-offset-1
              %h1= @dog.pet_name
              %p.text-muted= @dog.pet_description.try(:html_safe)
              %p.goToDescription
                %a.scroll-to{:href => "#details"} Dettagli dell'animale
              #product-social.social
                .row
                  %h4 Mostralo ai tuoi amici
                  .col-md-6.col-md-offset-3
                    = render partial: 'shared/share'
              %button.adopt.btn.btn-primary.btn-lg{'data-target': '#adopt', 'data-toggle': 'modal', type: 'button'}
                %i.glyphicon.glyphicon-heart
                #{I18n.translate('adopt').capitalize}!
      .col-md-12
        #productMain.row
          .col-sm-4
            #mainImage
              = image_tag(@dog.pet.main_picture.photo_file.url, class: 'img-responsive')
          .col-sm-8
            #thumbs.row
              - @dog.pet.pictures.each do |picture|
                .col-xs-4
                  = link_to picture.photo_file.url, class: 'thumb' do
                    = image_tag(picture.photo_file.url, class: 'img-responsive')
        #details.box
          %p.description= @dog.pet_description.try(:html_safe)
          .table-responsive
            %table.table.table-striped
              %tbody
                %tr
                  %td
                    %strong= I18n.translate('location').capitalize
                  %td
                    = link_to facility_path(@dog.pet_facility.slug) do
                      = @dog.pet_facility.name
                      %br
                      = @dog.pet_facility.full_address_with_state
                %tr
                  %td
                    %strong= I18n.translate('dog.breed').capitalize
                  %td= @dog.breed
                %tr
                  %td
                    %strong= I18n.translate('color').capitalize
                  %td= @dog.color.capitalize
                %tr
                  %td
                    %strong= I18n.translate('dog.size_at_maturity').capitalize
                  %td= @dog.size_at_maturity.capitalize
                %tr
                  %td
                    %strong= I18n.translate('dog.fur_length').capitalize
                  %td= @dog.fur_length.capitalize
                %tr
                  %td
                    %strong= I18n.translate('gender').capitalize
                  %td= @dog.gender.capitalize
                %tr
                  %td
                    %strong= I18n.translate('weight').capitalize
                  %td= @dog.pet_weight
                %tr
                  %td
                    %strong= I18n.translate('dog.spayed').capitalize
                  %td= @dog.spayed.capitalize
                %tr
                  %td
                    %strong= I18n.translate('dog.dewormed').capitalize
                  %td= @dog.dewormed.capitalize
                %tr
                  %td
                    %strong= I18n.translate('dog.vaccinated').capitalize
                  %td= @dog.vaccinated.capitalize
                %tr
                  %td
                    %strong= I18n.translate('dog.microchipped').capitalize
                  %td= @dog.microchipped.capitalize

          .col-sm-10.col-sm-offset-1
            #product-social.social
              .row
                %h4 Mostralo ai tuoi amici
                .col-md-6.col-md-offset-3
                  = render partial: 'shared/share'
            %button.adopt.btn.btn-primary.btn-lg{'data-target': '#adopt', 'data-toggle': 'modal', type: 'button'}
              %i.glyphicon.glyphicon-heart
              #{I18n.translate('adopt').capitalize}!

          = render partial: 'pets/adopt', locals: {facility: @dog.pet_facility, pet: @dog.pet}
