#account.tab-pane.active
  .row.text-center
    .col-sm-10.col-sm-offset-1
      %h1 Il mio account
      %p.lead Cambia i tuoi dati personali e la tua password qui.
  #customer-account.col-md-8.col-md-offset-2.clearfix
    %h3= current_user.username
    = form_for current_user, method: :put do |f|
      = render partial: 'users/common', locals: {user: current_user, form: f}
      .row
        .col-sm-6
          .form-group
            = f.label :password, 'Nuova password'
            = f.password_field :password, autocomplete: "off", class: 'form-control'
        .col-sm-6
          .form-group
            = f.label :password_confirmation, 'Conferma nuova password'
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      .text-center
        %button.btn.btn-primary{id: 'update_user', type: 'submit'}
          %i.fa.fa-save
          Aggiorna
