#ask-access.modal.fade{role: 'dialog', tabindex: '-1'}
  .modal-dialog{:role => "document"}
    #ask-access-content.modal-content
      .modal-header
        %a.close{'data-dismiss': 'modal'} x
        %h3 Richiedi un accesso privilegiato

      #ask-access-body.modal-body
        %p
          Ricordati di includere il
          %strong nome della struttura,
          la sua
          %strong ubicazione geografica
          (indirizzo, città), e possibilmente
          %strong il nome e l'indirizzo di un responsabile.

        = form_for :ask_access, url: user_ask_access_url(current_user.slug), remote: true do |f|
          .row
            .col-sm-6
              .form-group
                = f.label :body, 'Messaggio'
                = f.text_area :body, rows: 10, required: true, class: 'form-control message'

          .modal-footer
            %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'}
              Cancella
            = f.submit 'Manda messaggio', class: 'button btn btn-primary'
