.row
  .col-sm-6
    .form-group
      = form.label :avatar
      = form.file_field :avatar, class: 'form-control'
  .col-sm-6
    = image_tag user.avatar.thumb.url, size: '128x128'
.row
  .col-sm-6
    .form-group
      = form.label :email
      = form.email_field :email, required: true, autofocus: true, class: 'form-control'
.row
  .col-sm-6
    .form-group
      = form.label :first_name, 'Nome'
      = form.text_field :first_name, class: 'form-control'
  .col-sm-6
    .form-group
      = form.label :last_name, 'Cognome'
      = form.text_field :last_name, class: 'form-control'
.row
  .col-sm-6
    .form-group
      = form.label :location, 'Residenza'
      = form.text_field :location, class: 'form-control'
  .col-sm-6
    .form-group
      = form.label :state_id, 'Regione'
      = form.select :state_id, State.all.order(:name).collect {|state| [state.name, state.id]}, {include_blank: true}, {class: 'form-control'}
.row
  .col-sm-6
    .form-group
      = form.label :birthday, 'Data di Nascita'
      = form.date_field :birthday, class: 'form-control'
.row
  .col-sm-6
    .form-group.radios
      .col-sm-6
        = form.radio_button :gender, true
        = form.label :gender, 'Donna'
      .col-sm-6
        = form.radio_button :gender, false
        = form.label :gender, 'Uomo'

.row
  .col-sm-6
    .form-group
      = form.label :username
      = form.text_field :username, required: true, class: 'form-control'
  .col-sm-6
    %p.instruction Questo è il nome che vuoi usare all'interno della comunità.
