#all
  #content.clearfix
    .container
      .col-md-12
        %ul.breadcrumb
          %li= link_to 'Home', root_url
          %li= current_user.username
        %ul.nav.nav-tabs{'data-tabs': 'tabs'}
          %li.active
            = link_to '#account', 'data-toggle': 'tab' do
              %i.fa.fa-user
              Account
          - current_user.facilities.each do |facility|
            %li
              = link_to "##{facility.slug}", 'data-toggle': 'tab' do
                %i.fa.fa-map-signs
                = facility.name
          %li
            = link_to '#facility', 'data-toggle': 'tab' do
              %i.fa.fa-plus
              Aggiungi una struttura
        .tab-content
          =render partial: 'users/account'
          =render partial: 'facilities/edit', collection: current_user.facilities, as: :facility
          =render partial: 'facilities/user_add'
