#all
  #content
    .container
      .col-md-12
        %ul.breadcrumb
          %li
            %a{:href => "#"} Home
          %li= @state.name
        .box.text-center
          .row
            .col-sm-10.col-sm-offset-1
              %h1= @state.name
              %p.lead I canili e gattili presenti su PetsWantPats in #{@state.name.capitalize}

            #facilities
              - @state.facilities.each do |facility|
                .col-sm-4
                  %h3
                    %i.fa.fa-heart-o
                    = link_to facility.name, facility_path(facility.slug)
                  %p
                    %strong #{facility.pets.count} ospiti
                  %p= facility.full_address
