#advanced-search.collapse
  = simple_form_for :advanced_search, url: pets_search_path, method: :get, role: 'search' do |form|
    .row
      .col-sm-4
        .form-group
          = form.input :age, label: 'Età', as: :integer, input_html: {step: 1}, required: false
      .col-sm-4
        .form-group
          = form.input :breeds, label: 'Razza', collection: Breed.all.collect {|breed| [breed.name, breed.id]}, required: false
      .col-sm-4
        .form-group
          = form.input :weight, label: 'Peso', collection: ['0-5', '5-10', '10-20', '20-40', '40+'], required: false
    .row
      .col-sm-4
        .form-group
          = form.input :gender, label: 'Sesso', collection: [true, false].collect { |n| [I18n.translate(:genders)[n].capitalize, n] }, required: false
      .col-sm-4
        .form-group
          = form.input :color, label: 'Colore', collection: (0..25).collect { |n| [I18n.translate(:colors)[n].capitalize, n] }, required: false
      .col-sm-4
        .form-group
          = form.input :fur_length, label: 'Lunghezza del pelo', collection: (0..2).collect { |n| [I18n.translate(:fur_length)[n].capitalize, n] }, required: false
    .row
      .col-sm-offset-4.col-sm-4
        = form.label 'Adozioni del cuore', required: false
        = form.check_box :heart, {}, true, false
      .col-sm-4
        %span.input-group-btn
          %button.btn.btn-primary{ type: 'submit' }
            %i.fa.fa-search
            Ricerca
