#footer
  .container
    .col-md-3.col-sm-6.col-xs-6
      %ul
        %li
          = link_to 'Termini e condizioni', terms_path
        %li
          = link_to 'Policy sulla privacy', privacy_path
        %li
          = link_to 'Contattaci', contacts_path
    .col-md-3.col-md-offset3.col-sm-6.col-sm-offset-6.col-xs-6.col-xs-offset6
      %h4 Stay in touch
      %p.social
        %a{href: 'https://www.facebook.com/petswantpats/'}
          %i.fa.fa-facebook-square
        %a{href: 'https://twitter.com/petswantpats/'}
          %i.fa.fa-twitter-square
        %a{href: 'mailto:lola@petswantpats.com'}
          %i.fa.fa-envelope
