#navbar.navbar.navbar-default.navbar-fixed-top.yamm{:role => "navigation"}
  .container
    .navbar-header
      =link_to root_path, class: 'navbar-brand home' do
        = image_tag 'pwp_logo.png', alt: 'PetsWantPats logo', class: 'hidden-xs hidden-sm'
        = image_tag 'pwp_logo_small.png', alt: 'PetsWantPats logo', class: 'visible-xs visible-sm'
        %span.sr-only PetsWantPats - go to homepage
      .navbar-buttons
        %button.navbar-toggle.btn-primary{"data-target" => "#navigation", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %i.fa.fa-align-justify
        - if !current_page?(root_path)
          %button.navbar-toggle.btn-default{"data-target" => "#search", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle search
            %i.fa.fa-search
        - if !user_signed_in?
          =link_to new_user_registration_path, class: 'btn navbar-toggle btn-default' do
            %span.sr-only Registrati/Accedi
            %i.fa.fa-users
        - else
          =link_to edit_user_path(current_user.slug), class: 'btn navbar-toggle btn-default' do
            %span.sr-only= current_user.username
            %i.fa.fa-users
          =link_to destroy_user_session_path, method: :delete, class: 'btn navbar-toggle btn-default' do
            %span.sr-only Esci
            %i.fa.fa-sign-out
    #navigation.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-left
        %li.active
          = link_to 'Home', root_path
        %li.dropdown.yamm-fw
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Strutture
            %b.caret
          %ul.dropdown-menu
            %li
              .yamm-content
                .row
                  - State.that_has_facilities.decorate.each_slice(4) do |slice|
                    .col-sm-3
                      - slice.each do |state|
                        %ul
                          %li
                            =link_to state.name_with_facilities_number, state_path(state.slug)
    - if !user_signed_in?
      .navbar-collapse.collapse.right
        =link_to new_user_registration_path, class: 'btn navbar-btn btn-default' do
          %i.fa.fa-users
          Registrati/Accedi
    - else
      .navbar-collapse.collapse.right
        =link_to edit_user_path(current_user.slug), class: 'btn navbar-btn btn-default' do
          %i.fa.fa-users
          =current_user.username
        =link_to destroy_user_session_path, method: :delete, class: 'btn navbar-btn btn-default' do
          %i.fa.fa-sign-out
          Esci
    - if !current_page?(root_path)
      .navbar-collapse.collapse.right
        %button.btn.navbar-btn.btn-default{"data-target": "#search", "data-toggle": "collapse", type: "button"}
          %span.sr-only Toggle search
          %i.fa.fa-search
          Ricerca
      = render partial: 'shared/search'
