#search.collapse.clearfix
  = form_tag pets_search_path, method: :get, class: 'navbar-form', role: 'search' do
    .input-group
      = text_field_tag :q, nil, label: nil, placeholder: 'Cerca (per nome, razza, regione)', class: 'form-control'
      %span.input-group-btn
        %button.btn.btn-primary{ type: 'submit' }
          %i.fa.fa-search
          Ricerca
  .col-md-4.col-md-offset-8
    .row
      = link_to 'Ricerca avanzata', '#advanced-search', 'data-toggle': 'collapse'
  .col-md-12
    = render partial: 'shared/advanced_search_form'