.tab-pane{id: "#{facility.slug}"}
  .row.header.text-center.header
    .col-sm-10.col-sm-offset-1
      %h1= facility.name
      %p.lead Cambia i dati della struttura.
      %p oppure
      %a.manage.btn.btn-default{href: edit_facility_path(facility.slug)}
        %i.fa.fa-pencil
        Gestisci gli ospiti della struttura.
      %p
        Ricordati che la credibilità della tua struttura all'interno di
        %strong PetsWantPats
        deriverà in buona parte da quello che scriverai qui.
      %p
        Tenta di essere
        %em esaustivo ma non noioso, convincente ma non retorico.

  #facility-edit.col-md-8.col-md-offset-2.clearfix.tab-form
    = form_for facility, method: :put do |form|
      .row
        .col-sm-6
          .form-group
            = form.label :logo
            = form.file_field :logo, class: 'form-control'
        .col-sm-6
          = image_tag facility.logo.url, size: '128x128'
      .row
        .col-sm-6
          .form-group
            = form.label :name, 'Nome'
            = form.text_field :name, required: true, autofocus: true, class: 'form-control'
      .row
        .col-sm-6
          .form-group
            = form.label :contact_email, 'Email di contatto'
            = form.text_field :contact_email, required: true, autofocus: true, class: 'form-control'
      .row
        .col-sm-6
          .form-group
            = form.label :telephone, 'Telefono'
            = form.text_field :telephone, required: true, autofocus: true, class: 'form-control'
      .row
        .col-sm-12
          .form-group
            = form.label :description, 'Descrizione'
            = form.text_area :description, id: 'summernote', class: 'summernote form-control', 'data-provider': 'summernote'
      .row
        .col-sm-6
          .form-group
            = form.label :address, 'Indirizzo'
            = form.text_field :address, required: true, autofocus: true, class: 'form-control'
        .col-sm-6
          .form-group
            = form.label :postal_code, 'Codice postale'
            = form.text_field :postal_code, required: true, autofocus: true, class: 'form-control'
      .row
        .col-sm-6
          .form-group
            = form.label :city, 'Città'
            = form.text_field :city, required: true, autofocus: true, class: 'form-control'
        .col-sm-6
          .form-group
            = form.label :province, 'Provincia'
            = form.text_field :province, required: true, autofocus: true, class: 'form-control'
      .row
        .col-sm-6
          .form-group
            = form.label :state_id, 'Regione'
            = form.select :state_id, State.all.order(:name).collect {|state| [state.name, state.id]}, {include_blank: true}, {class: 'form-control'}
      .text-center
        %button.btn.btn-primary{id: 'update_facility', type: 'submit'}
          %i.fa.fa-save
          Aggiorna
