#facility.tab-pane
  .row.text-center
    .col-sm-10.col-sm-offset-1
      %h1 Gestisci o collabori con una struttura?
      %p.lead Richiedici un accesso privilegiato!

      #facility_add.col-sm-10.col-sm-offset-1.text-left
        %p
          Prendiamo
          %strong PetsWantPats
          e i nostri obblighi nei confronti dei nostri amici a 4 zampe con grandissima serietà, per questo
          %strong controlliamo le strutture che ospitiamo una ad una.
        %p
          Registrare una struttura su
          %strong PetsWantPats
          è molto semplice, e dopo una veloce chiacchierata via email con uno dei nostri operatori potrai cominciare immediatamente a gestire la scheda della struttura e aggiungere animali da dare in adozione.

        %button.ask-access.btn.btn-primary.btn-lg{'data-target': '#ask-access', 'data-toggle': 'modal', type: 'button'}
          %i.fa.fa-paw
          Richiedi un accesso privilegiato!

        %p Alcuni dei vantaggi che otterrai insieme ai tuoi animali:

        %ol
          %li Una scheda dettagliata della tua struttura facile da gestire e facile da mantenere.
          %li Un modo semplice per essere contattato da potenziali adottanti.
          %li La possibilità di aggiungere in pochi minuti un nuovo animale da adottare, completo di descrizione, galleria fotografica, e le sue maggiori caratteristiche.
          %li Tutti gli animali sono inseriti in un motore di ricerca che permetta a chiunque cerchi un cane da adottare di trovarlo in modo facile.
          %li
            %strong Una possibilità in più per i nostri amici a 4 zampe di trovare una famiglia.

        #signature
          %p.text-center
            %em Ti aspettiamo a braccia aperte!
          %p.text-center
            %strong
              %em Il team di PetsWantPats

        = render partial: 'users/ask_access', locals: {user: current_user}
