#all
  #content
    .container
      .col-md-12
        %ul.breadcrumb
          %li
            =link_to @facility.state.name, state_path(@facility.state.slug)
          %li
            =link_to @facility.name, facility_path(@facility.slug)
          %li Gestione animali
        .row
          .box
            .row
              .col-sm-12.text-center
                %h1= "Gestione animali: #{@facility.name}"
                %a.manage.btn.btn-default{href: new_facility_pet_path(facility_id: @facility.slug)}
                  %i.fa.fa-plus
                  Aggiungi un cane

        = render partial: 'pets/pets', locals: {pets: @pets}
