= render partial: 'headers/facility_show'
#all
  #content
    .container
      .col-md-12
        %ul.breadcrumb
          %li
            =link_to @facility.state.name, state_path(@facility.state.slug)
          %li
            =@facility.name
        .row
          .box
            .row
              .col-sm-2
                = image_tag @facility.logo.thumb.url
              .col-sm-10
                %h1= @facility.name
                %p.text-muted= raw(@facility.description)
                .table-responsive
                  %table.table.table-striped
                    %tbody
                      %tr
                        %td
                          %strong Indirizzo
                        %td
                          = @facility.full_address
                      %tr
                        %td
                          %strong Telefono
                        %td= @facility.telephone
                      %tr
                        %td
                          %strong Numero animali
                        %td= @facility.pets.count

        = render partial: 'pets/pets', locals: {pets: @pets}
