= render partial: 'headers/contacts'
#all
  #content
    .container
      .col-md-12
        %ul.breadcrumb
          %li
            =link_to 'Home', root_path
          %li= I18n.translate('contacts').capitalize
        .box.text-center
          .row
            .col-sm-10.col-sm-offset-1
              %h1= I18n.translate('contacts').capitalize
              %p.lead
                Hai curiosità che riguardano
                %strong PetsWantPats
                ? Hai un problema con il prodotto o i suoi servizi?
              %p Sentiti libero di contattarci quando vuoi, saremo felici di aiutarti.
        #contact.box
          .row
            .col-sm-4
              %h3
                %i.fa.fa-envelope
                E-mail
              %p.text-muted Scrivici una email:
              %ul
                %li
                  %strong
                    =mail_to 'lola@petswantpats.com'
