= render partial: 'headers/privacy'
#all
  #content
    .container
      .col-md-12
        %ul.breadcrumb
          %li
            =link_to 'Home', root_path
          %li= I18n.translate('privacy_policy')
      .col-md-10.col-md-offset-1
        .row
          %h1 Policy sulla privacy

          %h4= I18n.translate('privacy_policy_desc')
          %p
            Prima di accedere al sito internet di PetsWantPats (http://petswantpats.com) e di utilizzarne le funzionalità, è necessario che tu legga attentamente l’informativa sul trattamento dei dati personali di PetsWantPats (l’Informativa). L’Informativa di PetsWantPats ha lo scopo di chiarirti come PetsWantPats raccoglie i tuoi dati personali, come li conserva e quale uso ne fa.

            Ricorda che, nel momento in cui accedi al sito internet di PetsWantPats o ne utilizzi le funzionalità
            %ol
              %li confermi di aver preso visione dell’Informativa e
              %li acconsenti alla raccolta, alla conservazione e all’utilizzo dei tuoi dati personali così come verrà descritto più avanti e nel pieno rispetto della normativa italiana applicabile.

        %hr

        .row
          %h4 Dati personali raccolti per le seguenti finalità ed utilizzando i seguenti servizi:

          .col-md-10.col-md-offset-1
            .row
              %h5 Accesso agli account su servizi terzi
              .col-md-1
                %i.fa.fa-facebook-square.fa-3x
              .col-md-7.col-md-offset-1
                %p
                  %em Accesso all'account Facebook
                  %br
                  %strong
                    Permessi:
                  Accesso ai dati privati, Accesso offline, Città, Data di compleanno, Email, Foto, Sito web e Su di me

            .row
              %h5 Interazione con social network e piattaforme esterne
              .col-md-1
                %i.fa.fa-share-square.fa-3x
              .col-md-7.col-md-offset-1
                %p
                  %em Pulsante Mi Piace e widget sociali di Facebook
                  %br
                  %strong
                    Dati Personali:
                  Cookie e Dati di utilizzo

            .row
              %h5 Contattare l'utente
              .col-md-1
                %i.fa.fa-inbox.fa-3x
              .col-md-7.col-md-offset-1
                %p
                  %em Mailing List o Newsletter
                  %br
                  %strong
                    Dati Personali:
                  Email

            .row
              %h5 Statistica
              .col-md-1
                %i.fa.fa-bar-chart.fa-3x
              .col-md-7.col-md-offset-1
                %p
                  %em Google Analytics
                  %br
                  %strong
                    Dati Personali:
                  Cookie e Dati di utilizzo

        %hr

        .row
          %h4 Informazioni di contatto

          .col-md-10.col-md-offset-1
            .row
              %h5 Titolare del trattamento
              .col-md-1
                %i.fa.fa-user.fa-3x
              .col-md-7.col-md-offset-1
                %p
                  %em Titolare del trattamento
                  %br
                  %strong
                    Nicholas Wieland,
                  =mail_to 'ngw@petswantpats.com'

        %hr

        .row
          %h4 Tipologie di Dati raccolti
          %p
            Fra i Dati Personali raccolti da questa Applicazione, in modo autonomo o tramite terze parti, ci sono: Cookie e Dati di utilizzo. Altri Dati Personali raccolti potrebbero essere indicati in altre sezioni di questa privacy policy o mediante testi informativi visualizzati contestualmente alla raccolta dei Dati stessi.
            %br
            I Dati Personali possono essere inseriti volontariamente dall’Utente, oppure raccolti in modo automatico durante l'uso di questa Applicazione.
            %br
            L’eventuale utilizzo di Cookie - o di altri strumenti di tracciamento - da parte di questa Applicazione o dei titolari dei servizi terzi utilizzati da questa Applicazione, ove non diversamente precisato, ha la finalità di identificare l’Utente e registrare le relative preferenze per finalità strettamente legate all'erogazione del servizio richiesto dall’Utente. Il mancato conferimento da parte dell’Utente di alcuni Dati Personali potrebbe impedire a questa Applicazione di erogare i propri servizi. L'Utente si assume la responsabilità dei Dati Personali di terzi pubblicati o condivisi mediante questa Applicazione e garantisce di avere il diritto di comunicarli o diffonderli, liberando il Titolare da qualsiasi responsabilità verso terzi.

        .row
          %h4 Modalità e luogo del trattamento dei Dati raccolti

          %h5 Modalità di trattamento
          %p
            Il Titolare tratta i Dati Personali degli Utenti adottando le opportune misure di sicurezza volte ad impedire l’accesso, la divulgazione, la modifica o la distruzione non autorizzate dei Dati Personali.
            %br
            Il trattamento viene effettuato mediante strumenti informatici e/o telematici, con modalità organizzative e con logiche strettamente correlate alle finalità indicate. Oltre al Titolare, in alcuni casi, potrebbero avere accesso ai Dati categorie di incaricati coinvolti nell’organizzazione del sito (personale amministrativo, commerciale, marketing, legali, amministratori di sistema) ovvero soggetti esterni (come fornitori di servizi tecnici terzi, corrieri postali, hosting provider, società informatiche, agenzie di comunicazione) nominati anche, se necessario, Responsabili del Trattamento da parte del Titolare. L’elenco aggiornato dei Responsabili potrà sempre essere richiesto al Titolare del Trattamento.

          %h5 Luogo
          %p
            I Dati sono trattati presso le sedi operative del Titolare ed in ogni altro luogo in cui le parti coinvolte nel trattamento siano localizzate. Per ulteriori informazioni, contatta il Titolare.

          %h5 Tempi
          %p
            I Dati sono trattati per il tempo necessario allo svolgimento del servizio richiesto dall’Utente, o richiesto dalle finalità descritte in questo documento, e l’Utente può sempre chiedere l’interruzione del Trattamento o la cancellazione dei Dati.

        .row
          %h4 Finalità del Trattamento dei Dati raccolti
          %p
            I Dati dell’Utente sono raccolti per consentire al Titolare di fornire i propri servizi, così come per le seguenti finalità: Accesso agli account su servizi terzi e Interazione con social network e piattaforme esterne.
            %br
            Le tipologie di Dati Personali utilizzati per ciascuna finalità sono indicati nelle sezioni specifiche di questo documento.

        .row
          %h4 Ulteriori informazioni sul trattamento

          %h5 Difesa in giudizio
          %p
            I Dati Personali dell’Utente possono essere utilizzati per la difesa da parte del Titolare in giudizio o nelle fasi propedeutiche alla sua eventuale instaurazione, da abusi nell'utilizzo della stessa o dei servizi connessi da parte dell’Utente.
            %br
            L’Utente dichiara di essere consapevole che il Titolare potrebbe essere richiesto di rivelare i Dati su richiesta delle pubbliche autorità.

          %h5 Informative specifiche
          %p
            Su richiesta dell’Utente, in aggiunta alle informazioni contenute in questa privacy policy, questa Applicazione potrebbe fornire all'Utente delle informative aggiuntive e contestuali riguardanti servizi specifici, o la raccolta ed il trattamento di Dati Personali.

          %h5 Log di sistema e manutenzione
          %p
            Per necessità legate al funzionamento ed alla manutenzione, questa Applicazione e gli eventuali servizi terzi da essa utilizzati potrebbero raccogliere Log di sistema, ossia file che registrano le interazioni e che possono contenere anche Dati Personali, quali l’indirizzo IP Utente.

          %h5 Informazioni non contenute in questa policy
          %p
            Maggiori informazioni in relazione al trattamento dei Dati Personali potranno essere richieste in qualsiasi momento al Titolare del Trattamento utilizzando le informazioni di contatto.

          %h5 Esercizio dei diritti da parte degli Utenti
          %p
            I soggetti cui si riferiscono i Dati Personali hanno il diritto in qualunque momento di ottenere la conferma dell'esistenza o meno degli stessi presso il Titolare del Trattamento, di conoscerne il contenuto e l'origine, di verificarne l'esattezza o chiederne l’integrazione, la cancellazione, l'aggiornamento, la rettifica, la trasformazione in forma anonima o il blocco dei Dati Personali trattati in violazione di legge, nonché di opporsi in ogni caso, per motivi legittimi, al loro trattamento. Le richieste vanno rivolte al Titolare del Trattamento.
            %br
            Questa Applicazione non supporta le richieste “Do Not Track”. Per conoscere se gli eventuali servizi di terze parti utilizzati le supportano, consulta le loro privacy policy.

          %h5 Modifiche a questa privacy policy
          %p
            Il Titolare del Trattamento si riserva il diritto di apportare modifiche alla presente privacy policy in qualunque momento dandone pubblicità agli Utenti su questa pagina. Si prega dunque di consultare spesso questa pagina, prendendo come riferimento la data di ultima modifica indicata in fondo. Nel caso di mancata accettazione delle modifiche apportate alla presente privacy policy, l’Utente è tenuto a cessare l’utilizzo di questa Applicazione e può richiedere al Titolare del Trattamento di rimuovere i propri Dati Personali. Salvo quanto diversamente specificato, la precedente privacy policy continuerà ad applicarsi ai Dati Personali sino a quel momento raccolti.

          %h5 Informazioni su questa privacy policy
          %p
            Il Titolare del Trattamento dei Dati è responsabile per questa privacy policy, redatta partendo da moduli predisposti da Iubenda e conservati sui suoi server.
