= render partial: 'headers/terms'
#all
  #content
    .container
      .col-md-12
        %ul.breadcrumb
          %li
            =link_to 'Home', root_path
          %li Termini e condizioni
      .col-md-10.col-md-offset-1
        %h1 Termini e Condizioni d’uso del sito PetsWantPats
        %p.text-muted
          %strong
            ULTIMA REVISIONE:
            %time{datetime: '28-11-2015'} 28 Novembre 2015

        .alert.alert-danger{ role: 'alert' }
          %i.fa.fa-exclamation-triangle
          Si prega di leggere attentamente i termini e le condizioni d'uso del sito. Accedendo o utilizzando il presente sito web lei presta il consenso a essere vincolato ai termini e alle condizioni descritte nel presente documento.

        .box
          .row
            %p
              Questi termini e condizioni d’uso (“Termini del Sito”) si applicano esclusivamente al Suo accesso e all’uso del sito web di PetsWantPats, situato presso http://petswantpats.com/ (il “Sito”), insieme a qualsiasi altro accordo e linea guida postata sul Sito o altrimenti a Lei fornita da PetsWantPats. Questi Termini del Sito non modificano in alcun modo i termini e le condizioni di qualsiasi altro accordo che Lei potrebbe avere con PetsWantPats, per prodotti, servizi o altro. Se sta utilizzando il Sito in nome e per conto di qualunque società terza, Lei dichiara e garantisce di essere autorizzato ad accettare questi Termini del Sito per conto di tale società, e che tale società acconsente a risarcire Lei e PetsWantPats per le violazioni di questi Termini del Sito.

            %p
              PetsWantPats si riserva il diritto di cambiare o modificare i presenti Termini del Sito o le linee guida del Sito, in qualsiasi momento e a sua sola discrezione. Qualsiasi cambiamento o modifica sarà efficace immediatamente dopo aver postato le revisioni sul Sito e a fronte dell’avvenuta comunicazione di tali cambiamenti.

          .row
            %h4 Politica della Privacy
            %p
              Si prega di consultare la policy sulla privacy per informazioni su come PetsWantPats raccoglie, utilizza e divulga informazioni riconducibili alle persone che utilizzano il Sito, accedendo al link
              =link_to 'http://petswantpats.com/privacy', privacy_path

          .row
            %h4 Licenza
            %p
              Salvo quanto diversamente indicato nel Sito, il Sito e tutti i contenuti e altri materiali all’interno dello stesso, compresi, in via esemplificativa e non esaustiva, il logo di PetsWantPats e tutte le immagini, dati e altri file multimediali (congiuntamente, il “Materiale del Sito”) sono di proprietà personale di PetsWantPats o di soggetti terzi ad essa collegati e sono protetti dalle leggi in materia di copyright e proprietà intellettuale.

            %p
              Le viene concessa una licenza limitata e non trasferibile per accedere al Sito e stampare una copia cartacea dei suoi contenuti, scaricare alcune parti dei Materiali del Sito al solo scopo informativo, personale e non commerciale. Tale licenza è soggetta ai presenti Termini del Sito e non comprende:

              %ol
                %li qualsiasi rivendita o uso commerciale del Sito e dei Materiali del Sito acclusi
                %li la distribuzione o la pubblicazione di qualsiasi Materiale del Sito
                %li la modifica del Sito e del Materiale del Sito, o di qualsiasi parte dei medesimi
                %li il download di qualsiasi parte del Sito, del Materiale del Sito o di qualsiasi informazione in esso contenuta, salvo sia espressamente permesso sul Sito
                %li qualunque uso del Sito o dei Materiali del Sito diverso dallo scopo per cui è inteso da PetsWantPats

              Qualsiasi uso del Sito o del Materiale del Sito diverso da quelli specificatamente autorizzati nel presente documento, senza il previo consenso scritto di PetsWantPats, è strettamente proibito e porrà termine alla licenza in esso contenuta.

          .row
            %h4 Politica sulla violazione dei Termini del Sito
            %p
              PetsWantPats potrà a sua discrezione limitare l’accesso al Sito e/o cancellare gli account di qualsiasi utente che violi qualsiasi diritto di proprietà intellettuale di PetsWantPats o di altri soggetti legati al Sito.

          .row
            %h4 Marchi commerciali
            %p
              PetsWantPats, PetsWantPats.com, i loghi PetsWantPats e qualsiasi altro marchio o nome di servizio contenuto nel Sito sono marchi registrati di PetsWantPats e dei suoi fornitori o licenziatari, e non potranno essere copiati, imitati o usati, in tutto o in parte, senza il previo consenso scritto di PetsWantPats o del relativo detentore del marchio commerciale. Lei non potrà usare alcun metatag o qualsiasi altro testo nascosto nella pagina web impiegando “PetsWantPats” o qualsiasi altro nome, marchio registrato o nome di servizio di PetsWantPats senza il nostro previo consenso scritto. Inoltre l’immagine del Sito, le grafiche personalizzate, le icone dei pulsanti e gli script rappresentano il marchio commerciale di PetsWantPats e non potranno essere copiati, imitati o usati, in tutto o in parte, senza il previo consenso scritto di PetsWantPats. Tutti gli altri marchi commerciali, nomi dei prodotti o loghi menzionati nel Sito sono di proprietà dei loro rispettivi proprietari.

          .row
            %h4 Hyperlink
            %p
              Le viene concesso un diritto non esclusivo e limitato di creare un hyperlink testuale al Sito per scopi non commerciali, fermo restando che tale link non raffiguri PetsWantPats o qualunque altro dei suoi prodotti e servizi in toni falsi, fuorvianti o altrimenti diffamatori e fermo restando inoltre che il Sito di provenienza non contenga alcun materiale pornografico o in linea generale illegale, offensivo o molesto. Questo diritto limitato di creare un hyperlink potrà essere revocato da PetsWantPats in qualsiasi momento. Non potrà usare un logo PetsWantPats o altra grafica proprietaria di PetsWantPats per creare un collegamento a questo Sito senza il consenso esplicito per iscritto di PetsWantPats. Inoltre non potrà usare, raffigurare o utilizzare tecniche di raffigurazione per racchiudere qualsiasi marchio commerciale, logo, o altra informazione proprietaria di PetsWantPats, comprese le fotografie trovate sul Sito, il contenuto di qualsiasi testo o il layout/design di qualsiasi pagina o modulo contenuto sul Sito senza il consenso esplicito ottenuto per iscritto da PetsWantPats.

            %p
              PetsWantPats non fa alcuna dichiarazione o garantisce in merito, e non accetta alcuna responsabilità per la qualità, il contenuto, la natura o l’affidabilità di siti web di terzi accessibili attraverso hyperlink dal Sito, o dai siti che collegano al Sito. Tali siti non sono sotto il controllo di PetsWantPats e PetsWantPats non è responsabile dei contenuti dei medesimi.

          .row
            %h4 Contenuto di terzi
            %p
              PetsWantPats potrà fornire contenuti di terze parti sul Sito e potrà fornire collegamenti alle pagine web e contenuti di terze parti (congiuntamente definito “il Contenuto di Terze Parti”) come servizio per coloro che sono interessati a tali informazioni. PetsWantPats non monitora e non ha alcun controllo sul Contenuto di Terze Parti o siti web di terze parti. Salvo quanto diversamente specificato da PetsWantPats, la stessa non adotta o aderisce e non è responsabile di alcun Contenuto di Terze Parti.

          .row
            %h4 Indennizzo
            %p
              Lei acconsente a difendere, manlevare e tenere indenne PetsWantPats, le sue società madri, le sussidiarie, le affiliate, gli appaltatori indipendenti, i fornitori di servizi e i consulenti e i loro rispettivi amministratori, dipendenti e agenti, da e contro qualsiasi richiesta di risarcimento, danno, costo, obbligazione e spesa (compreso, in via non esaustiva, ragionevoli spese legali) derivanti da o legate a qualsiasi Contenuto che Lei posterà o in altro modo trasmetterà su o attraverso il Sito, il Suo uso delle aree interattive, il Suo uso e il Suo comportamento sul Sito, e/o la Sua violazione di Termini del Sito e/o di qualsiasi altro termine, politica, o accordo di PetsWantPats riguardante il Sito.

          .row
            %h4 Registrazione, Dati per la registrazione, Sicurezza dell’account, Corrispettivi
            %p
              Lei acconsente a:

              %ol
                %li fornire informazioni accurate, aggiornate e complete che di volta in volta Le verranno richieste attraverso i moduli per la registrazione sul Sito
                %li proteggere la propria password e i dati di identificazione
                %li mantenere e aggiornare prontamente i propri dati e qualsiasi altra informazione che Lei fornirà a PetsWantPats, per mantenerla accurata, aggiornata e completa

          .row
            %h4 Limitazioni di responsabilità
            %p
              Malgrado PetsWantPats cerchi di rendere l’accesso e l’uso del Sito e dei servizi il più possibile sicuro, PetsWantPats non può dichiarare o garantire che il Sito o i suoi server siano scevri da virus o altri componenti dannosi; quindi, Lei dovrà impiegare un programma riconosciuto nel settore per rilevare e rimuovere i virus ad ogni download.

          .row
            %h4 Legge applicabile e foro competente
            %p
              I presenti termini del Sito e il Suo uso saranno regolati e interpretati ai sensi delle leggi dello Stato italiano, con competenza esclusiva del Tribunale di Milano.

          .row
            %h4 Risoluzione
            %p
              Ai sensi di quanto previsto nei Termini del Sito, PetsWantPats si riserva il diritto, senza preavviso e sua sola discrezione, di bloccare o prevenire l’accesso e l’uso del Sito agli utenti che dovessero violare gli stessi o i documenti ad essi collegati.

          .row
            %h4 Contatti
            %p
              Per domande o commenti sul Sito o sui Termini del Sito ci si può rivolgere a PetsWantPats all’indirizzo di posta elettronica
              =mail_to 'lola@petswantpats.com'
