.pet_picture
  .row
    .col-sm-3
      .form-group
        .fileinput.fileinput-new{"data-provides" => "fileinput"}
          .fileinput-preview.thumbnail{"data-trigger" => "fileinput", :style => "width: 200px; height: 150px;"}
            = image_tag f.object.photo_file.url
          %div
            %span.btn.btn-default.btn-file
              %span.fileinput-new Scegli immagine
              %span.fileinput-exists Cambia
              = f.file_field :photo_file, class: 'fileinput', required: true

    .col-sm-4
      .form-group
        = f.input :caption, label: 'Didascalia'

    .col-sm-3
      .form-group
        = link_to_remove_association "Rimuovi", f, class: 'remove btn btn-danger', wrapper_class: 'pet_picture'
