- meta title: I18n.translate('contacts').capitalize
- meta description: "#{I18n.translate('contacts').capitalize}: #{I18n.translate('contacts_desc')}"
- meta keywords: ['petswantpats', 'privacy', 'policy']
