- meta title: "#{@facility.name}"
- meta description: "#{@facility.name} #{@facility.full_address_with_state} #{@facility.pets.count} #{I18n.translate('dog.dog')}"
- meta keywords: [I18n.translate('dog.dog'), I18n.translate('facility.facility'), I18n.translate('facility.shelter'), I18n.translate('adoption'), @facility.state.name]
- meta og: { title: "#{@facility.name}" }
- meta og: { description: @facility.description.blank? ? "#{@facility.name} #{@facility.full_address_with_state} #{@facility.pets.count} #{I18n.translate('dog.dog')}" : strip_tags(@facility.description) }
- meta og: { type: 'article' }
- meta twitter: { title: "#{@facility.name}" }
- meta twitter: { description: "#{@facility.name} #{@facility.full_address_with_state} #{@facility.pets.count} #{I18n.translate('dog.dog')}" }
