- meta title: "#{@dog.simple_breed} #{@dog.pet_name}"
- meta description: "#{I18n.translate('adopt').capitalize} #{@dog.pet_name} - #{@dog.breed} - #{@dog.pet_facility.full_address} - #{@dog.pet_facility.name}"
- meta keywords: [I18n.translate('dog.dog'), I18n.translate('adoption'), @dog.pet_facility.state.name] << @dog.mixtures.collect {|mixture| "#{mixture.breed_name}"}
- meta og: { title: "#{@dog.pet_name} - #{@dog.breed}" }
- meta og: { description: @dog.pet_description.blank? ? "#{I18n.translate('adopt')} #{@dog.pet_name} - #{@dog.breed} - #{@dog.pet_facility.full_address} - #{@dog.pet_facility.name}" : strip_tags(@dog.pet_description) }
- meta og: { image: @dog.pet.main_picture.photo_file.url }
- meta og: { type: 'article' }
- meta twitter: { title: "#{@dog.simple_breed} #{@dog.pet_name}" }
- meta twitter: { description: "#{I18n.translate('adopt').capitalize} #{@dog.pet_name} - #{@dog.breed} - #{@dog.pet_facility.full_address} - #{@dog.pet_facility.name}" }
- meta twitter: { image: @dog.pet.main_picture.photo_file.url }