- meta title: I18n.translate('privacy_policy').capitalize
- meta description: "#{I18n.translate('privacy_policy').capitalize}: #{I18n.translate('privacy_policy_desc').capitalize}"
- meta keywords: ['petswantpats', 'privacy', 'policy']
