#content #customer-account,
#content #facility-edit {
  margin-bottom: 40px;
}

#details {
  border-bottom: none;
}

#facility_add {
  padding: 20px 0 60px 0;
}

#facility_add ol > li {
  list-style-type: none;
  counter-increment: item;
}

#facility_add ol > li:before {
  display: inline-block;
  padding-right: 6px;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

#mixtures, #pet_pictures {
  margin: 20px 0 20px 0;
}

#mixture, #pet_picture {
  margin: 10px 0 10px 0;
}

#signature {
  padding-top: 20px;
}

.breadcrumb {
  margin: 10px 0;
}

.adopt {
  display: block;
  width: 150px;
  margin: 20px auto;
  font-size: 20px;
}

.ask-access {
  display: block;
  width: 500px;
  margin: 20px auto 30px auto;
  font-size: 20px;
}

.manage {
  margin: 8px 0 30px 0;
  font-weight: bold;
}

.description {
  margin: 10px 0 20px 0;
}

.header {
  margin-bottom: 30px;
}

p.instruction {
  padding-top: 24px;
  font-size: 12px;
  font-style: italic;
}

.btn-association {
  margin: 20px 0 20px 0;
}

.btn.fb {
  background-color: #3b5998;
  color: #f7f7f7;
}

.form-group.radios {
  padding: 18px 0 24px 0;
}

textarea.message {
  width: 540px;
  margin: 10px;
}

.row img {
  display: block;
  margin: auto;
}

#content .product {
  border-bottom: none;
  margin-bottom: 0;
}

#content .product:hover {
  border-bottom: none;
}

#content .product h3 {
  margin: 10px 0 10px 0;
  text-align: left;
}

#bg_video {
  min-width: 100%;
  width: auto;
}

#video {
  width: 100%;
}

#hp_search {
  position: absolute;
  margin: 0 auto;
  top: 20%;
  left: 0;
  right: 0%;
  width: 50%;
  text-align: center;
}

#hp_search h2, #hp_search h3, #hp_search p {
  color: white;
  font-family: 'Walter Turncoat', cursive;
  text-align: center;
}

#hp_search form {
  font-size: 30px;
  width: 100%;
}

#hp_search form .input-group {
  margin: 0 0 0 20px;
  width: 100%;
}

#hp_search form .input-group-btn {
  width: 10%;
}

.remove {
  margin-top: 25px;
}

.dropdown-menu {
  z-index: 5000;
}

.navbar #search .navbar-form {
  width: 800px;
}

#advanced-search {
  margin: 30px 0 10px 0;
}

video::-webkit-media-controls {
  display:none !important;
}
