!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{href: "http://fonts.googleapis.com/css?family=Montserrat:400,700|Merriweather:400,900,400italic,900italic|Walter+Turncoat", rel: "stylesheet", type: "text/css"}/
    %link{rel: 'icon', type: 'image/x-icon', href: '/images/favicon.ico'}
    - meta robots: 'noindex'
    - meta description: I18n.translate('site.description')
    - meta og: { site_name: 'PetsWantPats' }
    - meta og: { website: 'http://petswantpats.com' }
    - meta fb: { app_id: ENV['FB_APP_ID'] }
    - meta twitter: { card: 'summary' }
    - meta twitter: { site: '@petswantpats' }
    = metamagic site: "PetsWantPats", title: [:title, :site], separator: " — "
    = canonical_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'shared/gtm'
    = render partial: 'shared/messages'
    = render partial: 'shared/navbar'

    = yield

    = render partial: 'shared/footer'

    #copyright
      .container
        .col-md-12
          %p.pull-left
            ©#{Time.now.year} PetsWantPats
