#all
  #content
    .container
      .col-md-12
        %ul.breadcrumb
          %li
            = link_to 'Home', root_url
          %li Registrazione / Accesso
      .col-md-12
        .box
          =link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-default btn-lg fb' do
            %i.fa.fa-facebook
            Login con Facebook
      .col-md-6
        .box
          %h1 Accedi
          %p.lead Ti sei già registrato?
          %p Inserisci nel form sottostante il tuo indirizzo e-mail e
          la tua password per accedere a tutte le funzioni di
          PetsWantPats riservate agli utenti registrati.
          %hr/
          = form_for(:user, url: user_session_path) do |f|
            = devise_error_messages!
            .form-group
              %label{:for => "email"} Email
              = f.email_field :email, autofocus: true, id: 'login_email', class: 'form-control'
            .form-group
              %label{:for => "password"} Password
              = f.password_field :password, autofocus: true, id: 'login_password', class: 'form-control'
            .text-center
              %button.btn.btn-primary{:type => "submit"}
                %i.fa.fa-user
                Accedi
      .col-md-6
        .box
          %h1 Registrati
          %p.lead Non sei ancora registrato?
          %p Registrandoti puoi entrare a far parte della grande famiglia
          di PetsWantPats, l'intero processo non dovrebbe prenderti più
          di un minuto.
          %hr/
          = form_for(:user, url: user_registration_path) do |f|
            = devise_error_messages!
            .form-group
              %label{:for => "username"} Username
              = f.text_field :username, autofocus: true, id: 'username', class: 'form-control'
            .form-group
              %label{:for => "email"} Email
              = f.email_field :email, autofocus: true, id: 'email', class: 'form-control'
            .form-group
              %label{:for => "password"} Password
              = f.password_field :password, autofocus: true, id: 'password', class: 'form-control'
            .form-group
              %label{:for => "password_confirmation"} Conferma password
              = f.password_field :password_confirmation, autofocus: true, id: 'password_confirmation', class: 'form-control'
            .text-center
              %button.btn.btn-primary{:type => "submit"}
                %i.fa.fa-user-plus
                Registrati
