#all
  #content
    .container
      #error-page.col-sm-6.col-sm-offset-3
        .box
          %p.text-center
            =link_to root_path do
              =image_tag 'pwp_logo.png',
                alt: 'PetsWantPats logo', class: 'hidden-xs hidden-sm'
          %h3 Siamo contenti di averti qui!
          %h4.text-muted La registrazione è quasi completa.
          %p.text-center
            Ti abbiamo mandato una e-mail con un link che dovresti
            clickare per confermare il tuo indirizzo.
          %p.text-center
            Se non trovi una email proveniente da lola@petswantpats.com
            prova a controllare la casella del filtro antispam.
          %p.text-center
            %strong Grazie per la registrazione!
          %p.buttons
            =link_to root_path, class: 'btn btn-primary' do
              %i.fa.fa-home
              Torna all'Homepage
